[submodule "source/libs/cmsis"]
	path = source/libs/cmsis
	url = https://github.com/dimtass/cmsis.git
[submodule "source/libs/stdperiph"]
	path = source/libs/stdperiph
	url = https://github.com/dimtass/stdperiph.git
[submodule "source/libs/noarch_c_lib"]
	path = source/libs/noarch_c_lib
	url = https://bitbucket.org/dimtass/noarch_c_lib.git
[submodule "source/libs/stm32f1_dimtass_lib"]
	path = source/libs/stm32f1_dimtass_lib
	url = https://bitbucket.org/dimtass/stm32f1_dimtass_lib.git
